* {
    font-family: 'Bellota Text', cursive;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ebebeb;
}

body {
    background: #292929;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
HEADER MENU
*/
div .row .post {
    margin: 0px;
}

header {
    background: #1b1b1b;
    height: 65px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.523);
}

header * {
    color: #ebebeb;
}

header h1 {
    margin-top: 8px;

}

header h1 a:hover {
    color: #ebebeb;

}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

header ul li {
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ebebeb;
    padding: 20px;
}

header ul li a:hover {
    background: #0b0b0b;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.674);
    box-shadow: 0px 0px 3px black;
    transition: 0.55s;
    color: #ebebeb;
}

header ul li ul {
    position: absolute;
    top: 65px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}

header ul li:hover ul {
    display: block;
    background: #1b1b1b;
    opacity: 0.99;

    box-shadow: 2px 6px 10px black;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background: #1b1b1b;
    color: #ebebeb;
}

.slider-titlel {
    text-align: center;
    padding: 30px;
}

.carousel {
    height: 300px;
    width: 1000px;
}

.container .row h2 {
    margin: 15px;
}

.carousel-inner,
.carousel-item {
    height: 300px;
    width: 1000px;
    border-radius: 7px;
    box-shadow: 1px 1px 8px black;
}

.carousel-caption h5 {
    font-size: 23px;
    font-weight: 300px;
    background: #d5cfd82c;
    padding: 12px;
    box-shadow: 0px 0px 5px #d5cfd82c;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.674);
    opacity: 1;
    color: #ebebebeb;
    border-radius: 7px;
}

.carousel-caption h5:hover {
    color: #ebebeb;
    transition: 1s;
    background: #d5cfd866;
}

.carousel-caption h5 a:hover {
    transition: 1s;
    color: #ebebeb;
    text-shadow: 0px 0px 4px#ffffff5d;
}

.carousel-caption {
    position: absolute;
    width: 50%;
    left: 25%;
    right: 0%;
    height: 20%;
}


/*footer*/
.footer {
    background: #ebebeb;
    color: #444444;
    position: relative;
}

.footer .footer-section {
    padding: 20px;
}

.footer h4,
.footer h3 {
    color: #444444;
}

.footer .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all 0.3s;
    color: #444444;
}

.footer .about .socials a:hover {

    border-style: dotted;
    box-shadow: 0px 0px 6px #292929;
    color: #292929;
    transition: all 0.3s;
}

.footer .links ul a {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
    transition: all .3s;
    color: #292929;
    text-decoration: none;
}

.footer .links ul a:hover {
    padding: 3px;
    color: #292929;
    transition: all 0.3s;
}

.footer .contact-form .contact-input {
    background: #a4a4a43f;
    color: #404040;
    margin-bottom: 5px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}

.footer .contact-form .contact-input:focus {
    background: #cccccc;
}

.footer .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
    font-family: 'Lora', serif;
    color: #444444;
}

.footer .footer-bottom {
    background: #353535e3;
    color: #c0c0c097;
    height: 33px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
}

.sidebar .section {
    background: #1b1b1b;
    padding: 20px;
    margin-bottom: 30px;
    color: #ebebeb;
    border-radius: 4px;
    box-shadow: 1px 1px 6px black;
}

.sidebar .theme ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #ebebeb;
}

.sidebar .theme ul li a {
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #ebebeb;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: #ebebeb;
    font-size: 1.2em;
}

.sidebar .theme ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;
}

.sidebar {
    margin: 1rem 0;
    background: #cccccc;
    border-radius: 2px;
    border-top: 1px solid #ebebeb;
    min-height: 600px;
}

.sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: #444444;
}

.sidebar ul a {
    padding: 18px 0 18px 0;
    display: block;
    border-bottom: 1px solid #404040;
}

.sidebar ul a:hover {
    padding-left: 2px;
    color: #444444;
    transition: all 0.3s;
}

.posts {
    height: 100%;
    padding: 40px 100px 100px;
    min-height: 600px;
   
   
}
.posts .phone {
   background: #ccccccf8;
   border-radius: 6px;
 box-shadow: 1px 1px 6px#0b0b0b;  
}

.posts h2{
    text-align: center;
    margin: 1.5rem 0 0;
   color: #1b1b1b;
}
.post .title-table div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #1b1b1b;
    color: #1b1b1b;
}

.posts .post div{
    padding: 15px 15px 15px 0;
    text-align: left;
    border-top: 1px solid #1b1b1b;
    color: #1b1b1b;
   
    
}
.posts .button a{
  margin: 10px 30px 15px 0;  
}
.posts .post .red a:hover,.post .del a:hover,.post .read a:hover{
    padding-left: 1px;
    color: #1b1b1b;
    transition: all 0.3s;
}
.posts .post .red {
    color:#159990
}
.posts .post .del {
    color:#e62f29
}
.posts .post .read {
    color:#b31873
}
.posts {
    color: #1b1b1b;
}
.add-post form div{
    margin:2rem 0;
}

.add-post img {
   
    padding: 0px;
    background-color: black;
    border: 0.1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 10px black;

    width: 90%;
    height: 150px;
    object-fit: cover;
    object-position: bottom;
}

/*user*/
.posts .pro_us .red {
    color:#159990
}
.posts .pro_us .del {
    color:#e62f29
}
.posts .phone-user {
    background: #ccccccf8;
    border-radius: 6px;
    
  box-shadow: 1px 1px 6px#0b0b0b;  
 }
 .posts .title-table-user h2 {
    text-align: left;
 }
 .posts .phone-user .pro_us {
   padding: 10px;
 }


 .ssilki {
    color: wheat;
 }
 .pdfdok h3,h4{
    color:#0b0b0b;
 }
 .main-contentpdf .add-post,.title-table{
    color: #cccccc;
 }
 .dunamic .table{
    color: white;
 }